extends layout
block content
	table(class='table table-bordered table-hover')
		thead 
			tr
				th №
				th Имя
				th Фамилия
				th VK
		tbody
			- let list = group.list
			each student in list
				tr
					
					td #{student.num}
					td #{student.name}
					td #{student.surname}
					td: a(href='#{student.vkRef}')
							button(class='btn btn-success'): i(class='glyphicon glyphicon-user')

	a elder: #{group.elder}